<!DOCTYPE html>
<html>
  <head>

    <script src="https://unpkg.com/react@15/dist/react.js"></script>
    <script src="https://unpkg.com/react-dom@15/dist/react-dom.js"></script>
    <script src="https://unpkg.com/babel-standalone@6/babel.min.js"></script>
    
    <link href="https://cdnjs.cloudflare.com/ajax/libs/ratchet/2.0.2/css/ratchet.css" rel="stylesheet" type="text/css">  
    <script src="https://use.fontawesome.com/69c54b7b7c.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/ratchet/2.0.2/js/ratchet.js"></script>
    
    <script src="https://unpkg.com/react-router-dom/umd/react-router-dom.min.js"></script>
   
    
  </head>
  <body>
    
    <div id="container">
       <div data-reactroot=""><!-- react-empty: 20 --><!-- react-empty: 18 --><div><header class="bar bar-nav"><h1 class="title"><i class="fa fa-cart-arrow-down" aria-hidden="true"></i><!-- react-text: 25 --> <!-- /react-text --><span class="badge">0</span></h1></header><div class="content"><h6>Burger Shop</h6><ul class="table-view"><li class="table-view-cell media"><img class="media-object pull-left" src="https://lacapsule.academy/wks2/burger_1.png"><div class="media-body"><!-- react-text: 33 -->Le New-yorker<!-- /react-text --><!-- react-text: 34 --> <!-- /react-text --><!-- react-text: 35 -->11€<!-- /react-text --><p>Burger de boeuf limousin, cheddar, oignons rings, roquette, tomate, cornichon, sauce paprika</p></div><span class="badge">0</span></li><li class="table-view-cell media"><img class="media-object pull-left" src="https://lacapsule.academy/wks2/burger_2.png"><div class="media-body"><!-- react-text: 41 -->Le Amberger<!-- /react-text --><!-- react-text: 42 --> <!-- /react-text --><!-- react-text: 43 -->12€<!-- /react-text --><p>Burger de boeuf limousin, oignons confits, salade, tomate, fourme d’Ambert et noix</p></div><span class="badge">0</span></li><li class="table-view-cell media"><img class="media-object pull-left" src="https://lacapsule.academy/wks2/burger_3.png"><div class="media-body"><!-- react-text: 49 -->Le Poulet<!-- /react-text --><!-- react-text: 50 --> <!-- /react-text --><!-- react-text: 51 -->11€<!-- /react-text --><p>Burger de poulet, cheddar, avocat, tomate, oignons, sauce au citron vert</p></div><span class="badge">0</span></li></ul></div><nav class="bar bar-tab"><a class="tab-item active" href="/"><span class="icon icon-home"></span><span class="tab-label">Home</span></a><a class="tab-item" href="/shop"><span class="icon icon-person"></span><span class="tab-label">Profile</span></a></nav></div></div>
    </div>     
    <script type="text/babel" src="./app.js"></script>
  </body>
</html>